#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_clean:
	rm -rf $(CURDIR)/Exegol.egg-info

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/debian/exegol/usr/exegol-docker-build/* $(CURDIR)/debian/exegol/usr/share/exegol-docker-build
	rmdir $(CURDIR)/debian/exegol/usr/exegol-docker-build
